<turbo-frame id="forage">

  <% if @data %>
    <div id="forage-maps" class="row center-block panel maps">
      <div class="wood-border">
        <h2>Results</h2>
        <div id="forage-out">
          <% @data[:maps].each do |map| %>
            <h3><%= map[:map] %></h3>
            <ul>
              <% map[:spots].each do |spot| %>
                <li><%= spot_name spot %></li>
              <% end %>
            </ul>

            <div class="fullMap">
              <img class="base" src="/map/<%= map[:map] %>" alt="<%= map[:map] %> map">
              <% map[:spots].each do |spot| %>
                <img src="/map/marker"
                     title="<%= spot_name spot %>"
                     data-bs-toggle="tooltip"
                     style="<%= marker_style map[:map], spot %>">
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <script type="text/javascript" charset="utf-8">
      [...document.querySelectorAll('[data-bs-toggle="tooltip"]')]
          .map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>
</turbo-frame>

<div id="forage-input-container" class="row panel">
  <div class="wood-border">
    <h2>Save File</h2>
    <p>
      Select a save file to check:
      <input type="file" id="forage-file-select">
    </p>
    <div id="forage-input-advice">
      <p>
        Please use the full save file named with your farmer's name and a 9-digit ID number
        (e.g. <code>Fred_148093307</code>);
        do not use the <code>SaveGameInfo</code> file as it does not contain all the necessary information.
      </p>
      <p>
        Default save file locations are:
      </p>
      <ul>
        <li>Windows: <code>%AppData%\StardewValley\Saves\</code></li>
        <li>Mac OSX &amp; Linux: <code>~/.config/StardewValley/Saves/</code></li>
      </ul>
      <p>
        We do not upload your file; all processing is done on your own machine.
      </p>
    </div>
  </div>
</div>

<script>
    document.addEventListener("turbo:load", function () {
        const forageFile = document.getElementById("forage-file-select");
        if(forageFile != null) {
            forageFile.addEventListener("change", handleForageFiles, false);
        }
    });
</script>

<div class="row center-block panel">
  <div class="wood-border">
    <h3>About this app</h3>
    <p>
      Your save file contains the locations of forageable items for the next day.
      This app reads those items spots and displays them.
    </p>
  </div>
</div>
