<div class="panel route-panel <%= schedule_panel_classes(group) %>">
  <div class="bulletin">
    <div class="panel-heading">
      <h4>
        <%= group.reference %>
        <% if group.two_possibilities? %>
          (equal chance of either)
        <% end %>
      </h4>
    </div>
    <div class="row">
      <% group.schedules.each do |schedule| %>
        <div class="list-group list-group-flush <%= schedule_classes(group) %>">
          <% schedule.schedule_locations.each do |schedule_location| %>
            <button type="button" class="list-group-item" data-bs-toggle="modal" data-bs-target="#map-modal"
                    data-bs-map="<%= path_for_location schedule_location.location %>">
              <%= format_time schedule_location.time %>:
              <%= schedule_location.location.description %>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
