<turbo-frame id="calendar" data-turbo-action="advance">
  <div class="row panel">
    <div class="wood-border">
      <%= render 'villagers' %>
      <%= render 'calendar' %>
    </div>
  </div>

  <div class="row panel" v-if="schedules.length !== 0">
    <div class="wood-border">
      <h3>How to read the schedules</h3>
      <p>
        Read the panels from left to right. The first panel that applies should be the
        villager's schedule for the day. There many be alternatives for rain, for buildings
        being unavailable, or based on friendship that will override the regular schedule for
        a day.
      </p>
      <p>
        The times shown are when the villager will leave their previous location and head
        to the listed location.
      </p>
    </div>
  </div>

  <div class="row panel">
    <div class="wood-border">
      <div class="row">
        <% if @groups.nil? %>
          <div class="col-12" v-if="schedules.length === 0">
            Select a villager and a date, and their possible schedules will appear here.
          </div>
        <% else %>
          <h4 class="col-12 text-center" v-if="schedules.length !== 0">
            <%= @person %>: <%= @day.ordinalize %> of <%= @season.capitalize %>
          </h4>
          <%= render @groups %>
        <% end %>
      </div>
    </div>
  </div>
</turbo-frame>

<div class="modal" tabindex="-1" id="map-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img id="map-modal-map" />
      </div>
    </div>
  </div>
</div>
