<div class="row panel">
    <div class="wood-border">
        <div class="text-center mb-3">
            <% @maps.each do |map| %>
                <div class="position-relative d-inline-block">
                    <% if map == @map %>
                        <strong><%= @map %></strong>
                    <% else %>
                        <%= link_to map, locations_path(map:) %>
                        <% unless @empty[map].blank? || @empty[map].zero? %>
                            <span class="badge bg-danger rounded-pill"
                                  style="top: 20%; left: 80%"><%= @empty[map] %></span>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<% if @locations_to_show %>
    <div class="row panel">
        <div class="wood-border">
            <h2><%= @map %></h2>
        </div>
    </div>
    <div class="row panel">
        <div class="wood-border">
            <table class="table locations">
                <tbody>
                <% @locations_to_show.each do |location| %>
                      <tr>
                          <td><%= location.coords %></td>
                          <td>
                              <input type="text" value="<%= location.description %>" autocomplete="off"
                                     data-sh-map="<%= @map %>"
                                     data-sh-x="<%= location.x %>"
                                     data-sh-y="<%= location.y %>">
                          </td>
                          <td>
                              <img class="base" src="/map/<%= path_for_location location %>" alt="<%= @map %> map">
                          </td>
                          <td>
                              <ul>
                                <% location.people.each do |person| %>
                                  <li><%= person.name %></li>
                                <% end %>
                              </ul>
                          </td>
                      </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% end %>

<script type="text/javascript">
    document.addEventListener("change", (event) => {
        let element = event.target;
        if (element.tagName === 'INPUT') {
            let form = new FormData();
            form.append('authenticity_token', document.getElementsByName('csrf-token')[0].content);
            form.append('person', element.dataset.shPerson);
            form.append('map', element.dataset.shMap);
            form.append('x', element.dataset.shX);
            form.append('y', element.dataset.shY);
            form.append('description', element.value);

            let request = new XMLHttpRequest();
            request.addEventListener("error", () => {
                alert("Oops! Something went wrong.");
            });

            request.open("POST", "/locations");
            request.send(form);
        }
    })
</script>
