<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Stardew Valley Helpers</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
</head>

<body>
<main class="container" role="main">
    <div class="row d-none d-md-block">
        <div class="col-12 panel">
            <div class="wood-border">
                <h1 class="text-center">Stardew Valley Helpers</h1>
                <div class="text-center lead">Updated for 1.6</div>
            </div>
        </div>
    </div>
    <div class="row" id="navigation">
        <div class="col">
            <a class="nav-link <%= current_page?(calendar_index_path) ? "active" : "" %>"
               type="button" role="tab" aria-selected="<%= current_page?(calendar_index_path) ? "true" : "" %>"
               <% unless current_page?(calendar_index_path) %>
               href="<%= calendar_index_path %>"
               <% end %>>
                Villager Calendar
            </a>
        </div>
        <div class="col">
            <a class="nav-link <%= current_page?(forage_index_path) ? "active" : "" %>"
               type="button" role="tab" aria-selected="<%= current_page?(forage_index_path) ? "true" : "" %>"
               <% unless current_page?(forage_index_path) %>
               href="<%= forage_index_path %>"
               <% end %>>
                Forage Finder
            </a>
        </div>
    </div>
    <% unless Rails.env.production? %>
        <div class="alert alert-info">
            <a class="nav-link <%= current_page?(locations_path) ? "active" : "" %>"
               type="button" role="tab" aria-selected="<%= current_page?(locations_path) ? "true" : "" %>"
               <% unless current_page?(locations_path) %>
               href="<%= locations_path %>"
               <% end %>>
                Locations
            </a>
        </div>
    <% end %>

    <%= yield %>

    <div class="row center-block panel text-center">
        <div class="wood-border text-muted">
            Currently working for Stardew Valley v1.6
            <br>
            Huge thanks to <a href="http://upload.farm">upload.farm</a> for allowing me to use their bootstrap theme
            <br>
            All Stardew Valley assets copyright <a href="http://twitter.com/concernedape">Concerned Ape</a>
            <br>
            Source code is <a href="https://github.com/rickselby/stardew-helpers">in GitHub</a>; please raise any issues
            there.
        </div>
    </div>

</main>
</body>
</html>
